[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
gunicorn = "==19.9.0"
flask = "==1.1.1"
psycopg2 = "==2.8.3"
requests = "==2.22.0"
black = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
